@model List<GymManagement.Data.Models.Gym>

	<div class="card shadow border-0 mt-4">
		<div class="card header bg-primary bg-gradient ml-0 py-3">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="text-secondary py-2"> Gym List</h2>
				</div>
			</div>
		</div>

	<div class="card-body p-4">
		<div class="row">
			<div class="col-6">
			</div>
			<div class="text-end col-6">
				<a asp-controller="Gym" asp-action="Upsert" class="btn btn-primary">
					Create new Gym Branch <i class="bi bi-plus-circle"></i>
				</a>
			</div>
		</div>
	</div>

		<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<th> Locations </th>
				<th> Equipment </th>
				<th> Actions </th>
			</tr>
		</thead>
		<tbody>
			  @foreach (var obj in Model.OrderBy(u=>u.Id))
			{
					<tr>
						<td>@obj.Location</td>
						<td>@obj.DumbBells  Dumbells @obj.Treadmills Treadmills</td>

					<td>
						<div class="btn-group" role="group">
							<a asp-controller="Gym" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-success mx-2">
								@* <i class="bi bi-pencil-square"></i> *@Edit
							</a>
						<form method="post" asp-action="Delete">
							<input type="hidden" name="id" value="@obj.Id"></input>
							<button type="submit" asp-controller="Gym" asp-route-id="@obj.Id"  asp-action="Delete" class="btn btn-danger mx-2">
									@* <i class="bi bi-pencil-square"></i> *@Delete
								</button>
							</form>
							</div>
					</td>
					
					</tr>

			}
				
		</tbody>

	</table>
</div>

